In [3]:
import pandas as pd

def load_process(path_to_csv):
    file = pd.read_csv(path_to_csv)
    df= pd.DataFrame(file)
    updt_df = (pd.read_csv(path_to_csv).iloc[0:len(df), 1:22])

    barca_homestadium= (updt_df[updt_df['HomeTeam']== 'Barcelona'])
    barca_other= (updt_df[updt_df['AwayTeam']== 'Barcelona'])
    barca_total = (pd.concat([barca_homestadium,barca_other]))


    realmadrid_homestadium= updt_df[updt_df['HomeTeam']== 'Real Madrid']
    realmadrid_other= updt_df[updt_df['AwayTeam']== 'Real Madrid']
    realmadrid_total = pd.concat([realmadrid_homestadium,realmadrid_other])


    atletico_homestadium= updt_df[updt_df['HomeTeam']== 'Ath Madrid']
    atletico_other= updt_df[updt_df['AwayTeam']== 'Ath Madrid']
    atletico_total = pd.concat([atletico_homestadium, atletico_other])


    valencia_homestadium= updt_df[updt_df['HomeTeam']== 'Valencia']
    valencia_other= updt_df[updt_df['AwayTeam']== 'Valencia']
    valencia_total = pd.concat([ valencia_homestadium,valencia_other])

    top_4 = (pd.concat([barca_total, realmadrid_total, atletico_total, valencia_total]))
    return top_4

In [4]:
load_process("season-1819_csv.csv")

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HS,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
2,18/08/2018,Barcelona,Alaves,3,0,H,0,0,D,25,...,9,0,6,13,7,1,0,2,0,0
26,02/09/2018,Barcelona,Huesca,8,2,H,3,2,H,31,...,15,3,6,12,9,4,1,2,0,0
45,23/09/2018,Barcelona,Girona,2,2,D,1,1,D,22,...,11,6,9,16,8,2,3,5,1,0
60,29/09/2018,Barcelona,Ath Bilbao,1,1,D,0,1,A,20,...,8,2,9,18,4,3,3,3,0,0
80,20/10/2018,Barcelona,Sevilla,4,2,H,2,0,H,23,...,9,7,10,16,5,7,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
303,06/04/2019,Vallecano,Valencia,2,0,H,1,0,H,15,...,5,3,17,10,4,7,2,3,0,0
325,21/04/2019,Betis,Valencia,1,2,A,0,1,A,23,...,7,3,19,13,8,2,4,2,0,1
333,24/04/2019,Ath Madrid,Valencia,3,2,H,1,1,D,14,...,6,4,17,13,4,3,3,3,0,0
357,05/05/2019,Huesca,Valencia,2,6,A,0,5,A,24,...,4,7,10,9,7,5,2,1,0,0
377,18/05/2019,Valladolid,Valencia,0,2,A,0,1,A,19,...,4,6,12,10,8,2,1,3,0,0